Client/Connected Services/Api/Operations1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53779/Operations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
  <xs:element name="GetCities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="GetCitiesResult" nillable="true" type="q1:ArrayOfCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForecast">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForecastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="GetForecastResult" nillable="true" type="q2:Forecast" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>